<div class="Vlt-card Vlt-bg-white">
  <div class="Vlt-card__header">
	<h3 class="Vlt-title--icon"><svg><use xlink:href="https://d2gl3otkt8l7qr.cloudfront.net/assets/volta-rebrand-fonts-colors/images/icons/Vlt-icon-alert.svg#Vlt-icon-alert"/></svg>Unable to Access Requested Page</h3>
  </div>	
  <div class="Vlt-card__content">
  	<%= @error_msg %>
  </div>
</div>