<div align="center">
  <form method="POST" action="/login">
    <div class="Vlt-form__element Vlt-form__element--big">   
      <div class="Vlt-input"><h4>VCC Client ID<input type="text" name="client_id" class="form-control"></h4></div>
      <div class="Vlt-input"><h4>VCC Client Secret<input type="password" name="client_secret" class="form-control"></h4></div>
    </div>     
    <div class="Vlt-form__element Vlt-form__element--big">            
      <button class="Vlt-btn Vlt-btn--primary" type="Submit">Login</button>
    </div>
  </form>
</div>